.sortItem{
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
}
.recentArticlesContainer{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .menuSearch{
    float: left;
    position: fixed;
    z-index: 2;
    margin-left: 1%;
} */

.menuSearch{
    height: fit-content;
}

.marginContentIndex{
    margin-left: 18%;
}