html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 300px;
    /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
.sortItem{
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
}
.recentArticlesContainer{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.menuSearch{
    height: fit-content;
}

