<style>
    .imgFoot{ width: 5%;}
</style>
<footer class="page-footer bg-light position-sticky ">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-4 text-center">
        <div class="mb-5 flex-center">
          <!-- Facebook -->
          <a class="fb-ic">
            <span>Facebook</span>
            <img class="imgFoot" src="/images/facebook.png" alt="Facebook" >
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
          <span>Instagram</span>
          {# <span>Instagram</span> #}
          <img class="imgFoot" src="/images/instagram.png" alt="Instagram" >
          </a>

          <a class="gplus-ic" href="">
          <span>Twitter</span>
            <img class="imgFoot" src="/images/twitter.png" alt="Instagram" >
          </a>         
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href=""> Blog-SNRK</a>
  </div>
  <!-- Copyright -->

</footer>
