<footer class="page-footer bg-light position-sticky">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-4 text-center">
        <div class="mb-5 flex-center">
          <!-- Facebook -->
          <a class="fb-ic">
            <span>Facebook</span>
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
          {# <span>Instagram</span> #}
          <img src="/images/instagram.png" alt="Instagram" >
          </a>

          <a class="gplus-ic">
          <span>Twitter</span>
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>         
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href=""> Blog-SNRK</a>
  </div>
  <!-- Copyright -->

</footer>
