{% extends 'base.html.twig' %}

{% block title %}Contact Page{% endblock %}

{% block body %}

<style>
    .fieldPhone { maxlength: 10 }
    .fieldMessage { resize: none;  }
</style>
	<div class="shadow-lg p-3 mb-5 bg-white rounded w-75 p-3 mx-auto mt-5">

<div class="example-wrapper">

    <div>
        <h1 class="text-center">Contact us :</h1>
        <div class="contactForm">
            {{ form(form)}}

    {% for message in app.flashes('info') %}
    <div class="alert alert-success" role="alert">
    {{ message }}
    </div>


{% endfor %}
        </div>

    </div>

</div> 
</div>
{% endblock %}