{% extends 'base.html.twig' %}

{% block title %}Contact Page{% endblock %}

{% block body %}

<div class="example-wrapper">

    <div>
        <h1 class="text-center">Contact us :</h1>
        <div class="contactForm">
            {{ form(form)}}

    {% for message in app.flashes('info') %}
    <div class="alert alert-success" role="alert">
    {{ message }}
    </div>


{% endfor %}
        </div>

    </div>

</div> 
{% endblock %}