{% extends 'base.html.twig' %}

{% block title %}Backoffice - Article{% endblock %}

{% block body %}
    <ul>
    {% for article in articles %}
        <li>{{ article.title }} <a href="{{ path('editArticle', {'idArticle': article.id}) }}"><button class="btn btn-info" type="button">edit</button></a> </li>
    {% endfor %}
    </ul>
    <a href="{{ path('backofficeAddArticle') }}">Ajouter un article</a>
{% endblock %}
