{% extends 'base.html.twig' %}

{% block title %}Backoffice - Article{% endblock %}

{% block body %}
    <ul>
        {% for comment in comments %}
            <li>{{ comment.author.email }} - {{ comment.article.title}}  - {% if comment.approved is same as(true) %} Approved {% endif %} {% if comment.approved is same as (false) %} Refused {% endif %} {% if comment.approved is same as (null) %} Waiting {% endif %}
                <a href="{{ path('editComment', {'idComment': comment.id}) }}"><button class="btn btn-info" type="button">View/Approve</button></a> </li>
        {% endfor %}
    </ul>
{% endblock %}
