{% extends 'base.html.twig' %}

{% block title %}Add User
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-white rounded mx-auto mt-5">
            <h1 class="text-center mt-5">Add User</h1>
            <div class="example-wrapper">
                {{ include('user/_form.html.twig', {'button_label': 'Add User'}) }}
            </div>
        </div>
    </div>
{% endblock %}
