{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block body %}
    <div class="example-wrapper">

        <h1>Commented Articles</h1>

        {% for article in commented_articles %}
            {% include 'include/article_card.html.twig' %}
        {% endfor %}
    </div>

{% endblock %}
