{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('danger') %}
		<div class="alert alert-danger" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	<div class="shadow-lg p-3 mb-5 bg-white rounded w-75 p-3 mx-auto mt-5">

		<div class="example-wrapper">
			<h1 class="text-center">Profile</h1>

			{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

		</div>
	</div>
{% endblock %}
