{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="shadow-lg p-3 mb-5 bg-white rounded w-75 p-3 mx-auto mt-5">
    <div class="example-wrapper">
        <h1 class="text-center">Edit Password</h1>
        {{ include('user/_form.html.twig', {'button_label': 'Update Password'}) }}
    </div>
</div>
{% endblock %}
