{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>Edit Password</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update Password'}) }}

{% endblock %}
