{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Your Profile</h1>

        <h2>Last liked articles</h2>
        <a href="{{ path('profile_liked_articles') }}" class="btn btn-info">See all</a>

        {% for article in liked_articles %}
            {% include 'include/article_card.html.twig' %}
        {% endfor %}

        <h2>Last shared articles</h2>
        <a href="{{ path('profile_shared_articles') }}" class="btn btn-info">See all</a>

        {% for article in shared_articles %}
            {% include 'include/article_card.html.twig' %}
        {% endfor %}

        <h2>Last commented articles</h2>
        <a href="{{ path('profile_commented_articles') }}" class="btn btn-info">See all</a>

        {% for article in commented_articles %}
            {% include 'include/article_card.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
