{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
	<h1 class="text-center mt-5">Register</h1>

	<div class="example-wrapper">
    	{{ include('user/_form.html.twig', {'button_label': 'Register'}) }}

    	<a href="{{path('app_login')}}">Log in</a>
	</div>
{% endblock %}
