{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block body %}
    <div class="example-wrapper">

        <h1>Shared Articles</h1>

        {% for article in shared_articles %}
            {% include 'include/article_card.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
